div {
    border: 2px solid blue;
    border-radius: 5px;
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: #4CAF50;
    color: white;
}

table {
    border-collapse: collapse;
}